---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

body {
    color: #363636;
}

a, a:visited {
    color: #D71728;
}

a:hover, a:focus {
    font-weight: normal;
} 

section {
   width: 680px;
}

@media only screen and (max-width: 960px) {
    section {
        width: 800px;
    }
    header {
        width: 270px;
    }
}

@media only screen and (max-width: 671px) {
    section {
        width: 590px;
    }
}

@media only screen and (max-width: 573px) {
    section {
        width: 490px;
    }
}

@media only screen and (max-width: 332px) {
    section {
        width: 390px;
    }
}

header, footer {
    width: 170px;
}

img {
    margin: 10px 0 10px 0;
}

#TOC {
    float: left;
    max-width: 20ch;
    font-size: 0.9rem;

    border: 1px solid #ccc;
    /*background-color: #f9f9f9;*/
    background-color: #f0f0f0;
    line-height: 1.25;
    position: relative;
    padding: 10px 10px 2px 14px;
    margin: 0 2rem 1.5rem 0;
}

#TOC ul {
    list-style-type: none;
    padding: 0;
}

#TOC ul ul, #TOC ul ul li {
    margin-bottom: 0;
    font-weight: normal;
    font-size: 0.9em;
}

#TOC a {
    color: #3c3c3c;
    text-decoration: none;
}

#TOC li {
    font-weight: bold;
    margin: 5px 0 10px 0;
    padding-left: 1.125em;
    position: relative;
    overflow-wrap: break-word;
}

#markdown-body {
    overflow-wrap: break-word;
}

article #markdown-body section > :first-child a {
    background: 0 0;
    text-decoration: none;
    color: black;
}

#right-nav {
    width: 10ch;
    position: absolute;
    right: 3px;
    top: 4px;
    display: flex;

    padding: 0.125em 0.25em;
    border: 3px solid transparent;
    opacity: 0.3;
}
